@model SistemaGestionEventos.Models.Personal

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Personal</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPersonal" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EsPersonalTecnico" /> @Html.DisplayNameFor(model => model.EsPersonalTecnico)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EsPersonalFlete" /> @Html.DisplayNameFor(model => model.EsPersonalFlete)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Especializacion" class="control-label"></label>
                <select asp-for="Especializacion" class="form-control" asp-items="Html.GetEnumSelectList<Especializacion>()">

                    <option selected="selected" value="">Selecciona...</option>
                </select>
                <span asp-validation-for="Especializacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patente" class="control-label"></label>
                <input asp-for="Patente" class="form-control" />
                <span asp-validation-for="Patente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TamanioFlete" class="control-label"></label>
                <select asp-for="TamanioFlete" class="form-control" asp-items="Html.GetEnumSelectList<TamanioFlete>()">

                    <option selected="selected" value="">Selecciona...</option>
                </select>
                <span asp-validation-for="TamanioFlete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
